body {
	background: #f7f7f7;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}

.header_image {
	border: 1px solid #505050;
	border-radius: 50%;
    max-height:100px;
    width: auto;
}

#title, .subtitle, .post_title {
	color: #505050;
} 

#title {
	font-size: 40px;
	text-transform: uppercase;
}

a {
	text-decoration: line-through;
	color:  #505050;
}

.post_title {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background: white;
	padding: 15px;
	border: 3px solid #505050;
	border-radius: 1%;
	margin-bottom: 10px;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
}

.post_image {
	margin-bottom: 15px;
	width: 100%;
}

.contacts_list {
	list-style-type: none;
	padding-left: 15px;
}

.contacts_list li a {
	text-decoration: none;
}